@model Aiursoft.Polls.Models.PollsViewModels.AddOptionViewModel

<h1 class="h3 mb-3">@Localizer["Add Option"]</h1>

<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">@Localizer["Option Details"]</h5>
            </div>
            <div class="card-body">
                <form asp-action="AddOption">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                    <input type="hidden" asp-for="QuestionId" />

                    <div class="mb-3">
                        <label asp-for="Content" class="form-label">@Localizer["Option Text"]</label>
                        <input asp-for="Content" class="form-control form-control-lg" />
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>

                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">
                            <i class="align-middle me-2" data-lucide="plus"></i> @Localizer["Add Option"]
                        </button>
                        @* Since we don't pass PollId here natively in the URL easily, back link could just go back in history or we add PollId to AddOptionViewModel. We'll rely on history for now, or the user can just use browser back. *@
                        <a href="javascript:history.back()" class="btn btn-light">@Localizer["Cancel"]</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
